@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="app-container" dir="ltr">
    <div class="container-fluid px-0 main-content-page h-100">
        <partial name="Organization_Tabs" />
        <div class="aos-init aos-animate">
            <div class="child-content nav-active-top" id="summary">
                <ul class="topnav-child-1">
                    <li><a href="/organization/org_dashboard/org_summary">Summary</a></li>
                    <li class="nav-active-top"><a href="/organization/org_dashboard/org_reports">Reports</a></li>
                </ul>
                <div class="container-fluid p-3">
                    <div class="grand-child nav-active-top">
                        <div class="page-title-h d-flex justify-content-between">
                            <div class="d-flex justify-content-start align-items-center">
                                <mat-icon role="img" class="mat-icon notranslate text-muted arrow material-icons mat-icon-no-color" style="cursor: pointer;" aria-hidden="true" data-mat-icon-type="font">chevron_left </mat-icon>
                                <h4 class="card-title m-0 card-heading">Organization Reports</h4>
                                <mat-icon role="img" class="mat-icon notranslate text-muted material-icons mat-icon-no-color ng-star-inserted" style="cursor: pointer;" aria-hidden="true" data-mat-icon-type="font">turned_in_not </mat-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 tabcol">
                                <mat-card class="mat-card mat-focus-indicator b-shadow-none b-border-0 p-3">
                                    <div class="rowColumn">
                                        <div class="accordion orgReports row" id="accordionFlushExample">
                                            <div class="col-md-6">
                                                <div class="accordion-item">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        Employee Info Reports
                                                    </button>
                                                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <ol>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee work anniversary report
                                                                        <div class="sub-title">See employees with their work experience. </div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Contact Info Report
                                                                        <div class="sub-title">List of all employees with their contact information.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Blood Group Info Report
                                                                        <div class="sub-title">Employee list with their blood group and gender.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Family Info Report
                                                                        <div class="sub-title">See emolovee info along with their family/nominee details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Birthday Report
                                                                        <div class="sub-title">See employees Birthdays.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Education Report
                                                                        <div class="sub-title">List of employee with their education details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Past Experience Details Report
                                                                        <div class="sub-title">List of employees with their previous company information.</div>
                                                                    </a>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                        Employee Demography Reports
                                                    </button>
                                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <ol>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee work anniversary report
                                                                        <div class="sub-title">See employees with their work experience. </div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Contact Info Report
                                                                        <div class="sub-title">List of all employees with their contact information.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Blood Group Info Report
                                                                        <div class="sub-title">Employee list with their blood group and gender.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Family Info Report
                                                                        <div class="sub-title">See emolovee info along with their family/nominee details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Birthday Report
                                                                        <div class="sub-title">See employees Birthdays.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Education Report
                                                                        <div class="sub-title">List of employee with their education details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Past Experience Details Report
                                                                        <div class="sub-title">List of employees with their previous company information.</div>
                                                                    </a>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="accordion-item">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                        Employee Info Reports
                                                    </button>
                                                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <ol>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee work anniversary report
                                                                        <div class="sub-title">See employees with their work experience. </div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Contact Info Report
                                                                        <div class="sub-title">List of all employees with their contact information.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Blood Group Info Report
                                                                        <div class="sub-title">Employee list with their blood group and gender.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Family Info Report
                                                                        <div class="sub-title">See emolovee info along with their family/nominee details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Birthday Report
                                                                        <div class="sub-title">See employees Birthdays.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Education Report
                                                                        <div class="sub-title">List of employee with their education details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Past Experience Details Report
                                                                        <div class="sub-title">List of employees with their previous company information.</div>
                                                                    </a>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                                        Employee Demography Reports
                                                    </button>
                                                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <ol>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee work anniversary report
                                                                        <div class="sub-title">See employees with their work experience. </div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Contact Info Report
                                                                        <div class="sub-title">List of all employees with their contact information.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Blood Group Info Report
                                                                        <div class="sub-title">Employee list with their blood group and gender.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Family Info Report
                                                                        <div class="sub-title">See emolovee info along with their family/nominee details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Birthday Report
                                                                        <div class="sub-title">See employees Birthdays.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Education Report
                                                                        <div class="sub-title">List of employee with their education details.</div>
                                                                    </a>
                                                                </li>
                                                                <li class="rd-mb-1">
                                                                    <a href="#">
                                                                        Employee Past Experience Details Report
                                                                        <div class="sub-title">List of employees with their previous company information.</div>
                                                                    </a>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
