@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/dashboard.css" rel="stylesheet" media="all" onload="this.media='all'" />
<div class="main-container ng-star-inserted">
    <div class="app-container" dir="ltr">
        <div class="container-fluid px-0 main-content-page h-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 card-bg-white fixed-column he-100">
                        <div>
                            <div class="card-wrapper-bg">
                                <div class="wrapper-1 d-flex align-items-center mb-4">
                                    <div><img src="~/images/sun.svg" alt=""></div>
                                    <div class="sub-text"> Every great day starts with a single punch. Let's make today count! </div>
                                </div>
                                <div class="white-card-wrapper">
                                    <div class="sub-flex1">
                                        <div class="flex-head1"> Wednesday, 02 Apr 2025 </div>
                                        <div class="flex-head"> Shift Timing - (09:30 - 17:30) </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-row" style="gap: 2.5rem;">
                                        <div class="sub-flex">
                                            <div class="flex-head"> Check In </div>
                                            <div class="flex-head1"> --:-- </div>
                                        </div>
                                        <div class="separtor"></div>
                                        <div class="sub-flex">
                                            <div class="flex-head"> Check out </div>
                                            <div class="flex-head1"> --:-- </div>
                                        </div>
                                        <div class="separtor"></div>
                                        <div class="sub-flex">
                                            <div class="flex-head"> Total Hours </div>
                                            <div class="flex-head1"> 00h : 00m  </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="rd-btn-primary-sm home-login-btn rd-mt-2 ng-star-inserted"> Check In </button>
                                <div class="feeling-text rd-mb-2"> How Are You Feeling Today? </div>
                                <div class="emoji-wrapper">
                                    <button type="button" class="arrow button-null" disabled=""><img src="../../../assets/images/Icons set.svg" alt=""></button>
                                    <div class="emoji-bg ng-star-inserted">
                                        <div class="d-flex"></div>
                                        <div class="text-center">
                                            <div class="em-days"> Mon </div>
                                            <div class="em-date"> 31 </div>
                                        </div>
                                    </div>
                                    <div class="emoji-bg ng-star-inserted">
                                        <div class="d-flex"></div>
                                        <div class="text-center">
                                            <div class="em-days"> Tue </div>
                                            <div class="em-date"> 01 </div>
                                        </div>
                                    </div>
                                    <div class="emoji-bg ng-star-inserted">
                                        <div class="emoji-holder ng-star-inserted">
                                            <div class="svg-em ng-star-inserted"><img alt="" src="../../../assets/images/Emoji.svg"></div>
                                            <div class="svg-em ng-star-inserted"><img alt="" src="../../../assets/images/Emoji (1).svg"></div>
                                            <div class="svg-em ng-star-inserted"><img alt="" src="../../../assets/images/Emoji (2).svg"></div>
                                            <div class="svg-em ng-star-inserted"><img alt="" src="../../../assets/images/Emoji (3).svg"></div>
                                            <div class="svg-em ng-star-inserted"><img alt="" src="../../../assets/images/Emoji (4).svg"></div>
                                        </div>
                                        <div class="d-flex">
                                            <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color ng-star-inserted" aria-hidden="true" data-mat-icon-type="font">add</mat-icon>
                                        </div>
                                        <div class="text-center">
                                            <div class="em-days"> Wed </div>
                                            <div class="em-date"> 02 </div>
                                        </div>
                                    </div>
                                    <div class="emoji-bg ng-star-inserted">
                                        <div class="d-flex"></div>
                                        <div class="text-center">
                                            <div class="em-days"> Thu </div>
                                            <div class="em-date"> 03 </div>
                                        </div>
                                    </div>
                                    <button type="button" class="arrow button-null"><img src="../../../assets/images/Icons set (1).svg" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 card-bg-grey scrollable-column">
                        <div class="d-flex align-items-center justify-content-between tab-padding-grey-card">
                            <div>
                                <div class="user-text"> Hello HR DBMR </div>
                                <div class="user-text1 mt-1"> This is what we’ve got for you today, fresh insights and inspiration </div>
                            </div>
                        </div>
                        <div class="row rd-mt-3">
                            <div class="col-md-6">
                                <div class="card-announce">
                                    <div class="d-flex align-items-center justify-content-between rd-mb-2">
                                        <div class="announce-text"> Announcement </div>
                                    </div>
                                    <div class="announce-border">
                                        <div class="announce-head ng-star-inserted"> New Training Programs </div>
                                        <div class="announce-head1 rd-mb-3">
                                            <span>
                                                We are excited to introduce our new training programs designed to enhance your skills and expertise in [specific area(s)]. These comprehensive training initiatives have been carefully crafted to provide you with the necessary tools and knowledge to thrive in your roles and contribute to the continued success of our organization. Through these programs, we aim to cultivate
                                                a culture of continuous learning and professional development,
                                                empowering each of you to reach your full potential.We encourage all employees to take full advantage of these opportunities
                                                and invest in your personal and professional growth.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center arrows rd-mt-2">
                                        <mat-menu class="ng-tns-c133-11 ng-star-inserted"></mat-menu>
                                        <div class="d-flex justify-content-end align-items-center w-100 gap-1">
                                            <div class="arrow-cur"><img src="../../../assets/images/Icons set.svg" alt=""></div>
                                            <div class="arrow-num"> 1/3 </div>
                                            <div class="arrow-cur"><img src="../../../assets/images/Icons set (1).svg" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="card-announce tab-chart-bottom">
                                    <div class="topcard topheigh">
                                        <div>
                                            <div class="rd-card-home h-100">
                                                <div>
                                                    <div class="d-flex justify-content-between rd-mb-2">
                                                        <div style="align-self: center;">
                                                            <div class="rd-home-headings rd-mb-3">Monthly Attendance</div>
                                                        </div>
                                                        <div class="rd-form-select">
                                                            <p-dropdown filterby="monthfullname" styleclass="filter-style-sm" optionlabel="monthfullname" optionvalue="monthId" class="p-element p-inputwrapper ng-tns-c242-12 ng-untouched ng-pristine ng-valid ng-star-inserted p-inputwrapper-filled">
                                                                <div class="ng-tns-c242-12 filter-style-sm p-dropdown p-component">
                                                                    <div class="p-hidden-accessible ng-tns-c242-12"><input type="text" readonly="" aria-haspopup="listbox" role="combobox" class="ng-tns-c242-12" aria-expanded="false"></div>
                                                                    <span class="p-element ng-tns-c242-12 p-dropdown-label p-inputtext ng-star-inserted" id="pr_id_1_label">April</span>
                                                                    <div role="button" aria-label="dropdown trigger" aria-haspopup="listbox" class="p-dropdown-trigger ng-tns-c242-12"><span class="p-dropdown-trigger-icon ng-tns-c242-12 pi pi-chevron-down"></span></div>
                                                                </div>
                                                            </p-dropdown>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="static-mt">
                                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                                        <canvas basechart="" height="250" style="width: 90%; display: block; box-sizing: border-box;" width="375"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row rd-mt-2">
                            <div class="col-md-12">
                                <div class="events-wrap">
                                    <div class="d-flex justify-content-between rd-mb-1">
                                        <div class="rd-home-headings1">Events</div>
                                        <div class="apply-button">View All</div>
                                    </div>
                                    <mat-tab-group class="mat-tab-group tab-border tab-home mat-primary" style="max-height: 250px; overflow-y: auto;">
                                        <mat-tab-header class="mat-tab-header">
                                            <button aria-hidden="true" type="button" mat-ripple="" tabindex="-1" class="mat-ripple mat-tab-header-pagination mat-tab-header-pagination-before mat-elevation-z4 mat-tab-header-pagination-disabled" disabled="">
                                                <div class="mat-tab-header-pagination-chevron"></div>
                                            </button>
                                            <div class="mat-tab-label-container">
                                                <div role="tablist" class="mat-tab-list" style="transform: translateX(0px);">
                                                    <div class="mat-tab-labels">
                                                        <div role="tab" mattablabelwrapper="" mat-ripple="" cdkmonitorelementfocus="" class="mat-ripple mat-tab-label mat-focus-indicator mat-tab-label-active ng-star-inserted" id="mat-tab-label-0-0" tabindex="0" aria-posinset="1" aria-setsize="2" aria-controls="mat-tab-content-0-0" aria-selected="true" aria-disabled="false">
                                                            <div class="mat-tab-label-content">Birthday</div>
                                                        </div>
                                                        <div role="tab" mattablabelwrapper="" mat-ripple="" cdkmonitorelementfocus="" class="mat-ripple mat-tab-label mat-focus-indicator ng-star-inserted" id="mat-tab-label-0-1" tabindex="-1" aria-posinset="2" aria-setsize="2" aria-controls="mat-tab-content-0-1" aria-selected="false" aria-disabled="false">
                                                            <div class="mat-tab-label-content">Work Anniversary</div>
                                                        </div>
                                                    </div>
                                                    <mat-ink-bar class="mat-ink-bar" style="visibility: visible; left: 0px; width: 160px;"></mat-ink-bar>
                                                </div>
                                            </div>
                                            <button aria-hidden="true" type="button" mat-ripple="" tabindex="-1" class="mat-ripple mat-tab-header-pagination mat-tab-header-pagination-after mat-elevation-z4 mat-tab-header-pagination-disabled" disabled="">
                                                <div class="mat-tab-header-pagination-chevron"></div>
                                            </button>
                                        </mat-tab-header>
                                        <div class="mat-tab-body-wrapper">
                                            <mat-tab-body role="tabpanel" class="mat-tab-body ng-tns-c182-13 mat-tab-body-active ng-star-inserted" id="mat-tab-content-0-0" aria-labelledby="mat-tab-label-0-0">
                                                <div cdkscrollable="" class="mat-tab-body-content ng-tns-c182-13 ng-trigger ng-trigger-translateTab" style="transform: none;">
                                                    <div class="row ng-star-inserted" style=""></div>
                                                </div>
                                            </mat-tab-body>
                                            <mat-tab-body role="tabpanel" class="mat-tab-body ng-tns-c182-14 ng-star-inserted" id="mat-tab-content-0-1" aria-labelledby="mat-tab-label-0-1">
                                                <div cdkscrollable="" class="mat-tab-body-content ng-tns-c182-14 ng-trigger ng-trigger-translateTab" style="transform: translate3d(100%, 0px, 0px); min-height: 1px;"></div>
                                            </mat-tab-body>
                                        </div>
                                    </mat-tab-group>
                                </div>
                            </div>
                        </div>
                        <div class="row rd-mt-2">
                            <div class="col-md-6">
                                <div class="holi-bg">
                                    <div class="d-flex justify-content-between rd-mb-1">
                                        <div class="rd-home-headings1">Holidays of 2025</div>
                                        <div class="apply-button">View All</div>
                                    </div>
                                    <div class="rd-mt-2"><img src="../../../assets/images/Holiday-dash.png" alt="" class="holi-img ng-star-inserted"></div>
                                    <div class="rd-mt-2">
                                        <div class="d-flex cal-flex">
                                            <div class="calendar-bg">
                                                <div class="d-flex inner-dflex"></div>
                                            </div>
                                            <div>
                                                <div class="holiday-mon"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-end arrows rd-mt-2">
                                        <button class="button-null" disabled=""><img src="../../../assets/images/Icons set.svg" alt=""></button>
                                        <div class="arrow-num"> 0/0 </div>
                                        <button class="button-null" disabled=""><img src="../../../assets/images/Icons set (1).svg" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0px;">
                                <div class="leave-bg">
                                    <div class="d-flex justify-content-between rd-mb-1">
                                        <div class="rd-home-headings1">Leave Balance</div>
                                        <div routerlink="/self-service-all/attendance/leaves/leave-history/apply-leave/0" class="apply-button" tabindex="0">Apply For Leave</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 rd-mt-2 ng-star-inserted">
                                            <div class="leave-border">
                                                <div class="leave-head"> Casual Leave </div>
                                                <div class="rd-mt-2"><span class="leave-count">NA</span>/<span class="total-count">NA</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 rd-mt-2 ng-star-inserted">
                                            <div class="leave-border">
                                                <div class="leave-head"> Sick Leave </div>
                                                <div class="rd-mt-2"><span class="leave-count">NA</span>/<span class="total-count">NA</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 rd-mt-2 ng-star-inserted">
                                            <div class="leave-border">
                                                <div class="leave-head"> Vacation Leave </div>
                                                <div class="rd-mt-2"><span class="leave-count">NA</span>/<span class="total-count">NA</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container ng-star-inserted"><button class="icon-button bounce"><img src="../../../../assets/images/feedback-req.svg" alt="Feedback Icon" class="icon"><span class="feedback-text">Feedback</span></button></div>
        </div>
    </div>
</div>