@page
@{
    ViewData["HideHeader"] = true;
    ViewData["HideSidebar"] = true;
}
<div id="layout-wrapper">
    <div class="Hr-Root ng-star-inserted">
        <div class="ng-star-inserted">
            <section>
                <div class="container-fluid">
                    <div class="row align-items-center" style="height: 85vh;">
                        <div class="col-md-6 d-md-flex d-none justify-content-center" style="border-right: 1px solid #ced4da;">
                            <div id="imageCarousel" data-bs-ride="carousel" class="carousel slideright">
                                <div class="carousel-indicators"><button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" class="active"></button><button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button><button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button><button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button><button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button></div>
                                <div class="carousel-inner align-items-center">
                                    <div class="carousel-item active">
                                        <div class="text-center">
                                            <img src="~/images/organization.svg" alt="Organization"></div>
                                            <p class="Carousel-title pt-2">Organization</p>
                                            <p class="Carousel-description">Build a clear organization chart, manage reporting lines, and visualize your team.</p>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <img src="../../../assets/images/login/performance.svg" alt="Performance"></div>
                                            <p class="Carousel-title pt-2">Performance</p>
                                            <p class="Carousel-description">Facilitate continuous improvement with a streamlined performance management system.</p>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <img src="../../../assets/images/login/payroll.svg" alt="Payroll"></div>
                                            <p class="Carousel-title pt-2">Payroll</p>
                                            <p class="Carousel-description">Ensure accurate and timely payments with a robust, integrated payroll system.</p>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <img src="../../../assets/images/login/attendance.svg" alt="Attendance"></div>
                                            <p class="Carousel-title pt-2">Attendance</p>
                                            <p class="Carousel-description">Gain insights into workforce productivity with easy-to-use attendance tracking.</p>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <img src="../../../assets/images/login/selfService.svg" alt="Employee Services"></div>
                                            <p class="Carousel-title pt-2">Employee Services</p>
                                            <p class="Carousel-description">Put control at their fingertips for easy access to requests and data.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="login-form" class="col-md-6 login-form">
                            <div _ngcontent-yct-c266="">
                                <form novalidate="" class="ng-dirty ng-touched ng-valid">

                                    <div class="text-center">
                                    <img src="~/images/efclogo.png" alt="EFCHR" class="logo"></div>
                                    @* <div class="text-center rd-mt-2">
                                        <p class="rd-text-primary login">EFC Login</p>
                                    </div> *@
                                    <p class="login-description fw-light rd-mt-1 text-center">Welcome back! Please login to your EFC account </p>
                                    <div class="icon_wrap icon_wrap_in">
                                        <mat-form-field class="mat-form-field example-full-width my-1 ng-tns-c111-5 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label ng-star-inserted mat-form-field-autofilled ng-dirty ng-valid ng-touched">
                                            <div class="mat-form-field-wrapper ng-tns-c111-5">
                                                <div class="mat-form-field-flex ng-tns-c111-5">

                                                    <div class="mat-form-field-infix ng-tns-c111-5">
                                                        <input autocomplete="off" name="email" type="text" placeholder="Enter your Employee Id" required="" class="mat-input-element mat-form-field-autofill-control ng-tns-c111-5 cdk-text-field-autofill-monitored cdk-text-field-autofilled valid ng-dirty ng-valid ng-touched" id="mat-input-2" data-placeholder="Enter your Employee Id" aria-required="true" aria-invalid="false">
                                                        <span class="mat-form-field-label-wrapper ng-tns-c111-5">
                                                            <label class="mat-form-field-label ng-tns-c111-5 ng-star-inserted" id="mat-form-field-label-5" for="mat-input-2" aria-owns="mat-input-2">

                                                                <mat-label class="ng-tns-c111-5 ng-star-inserted">Employee Id</mat-label>
                                                                <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c111-5 ng-star-inserted"> *</span>
                                                            </label>

                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="mat-form-field-underline ng-tns-c111-5 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c111-5"></span></div>

                                                <div class="mat-form-field-subscript-wrapper ng-tns-c111-5">

                                                    <div class="mat-form-field-hint-wrapper ng-tns-c111-5 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">

                                                        <div class="mat-form-field-hint-spacer ng-tns-c111-5"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="icon_wrap icon_wrap_in">
                                        <mat-form-field class="mat-form-field example-full-width ng-tns-c111-6 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label ng-star-inserted mat-form-field-autofilled ng-dirty ng-valid ng-touched">
                                            <div class="mat-form-field-wrapper ng-tns-c111-6">
                                                <div class="mat-form-field-flex ng-tns-c111-6">

                                                    <div class="mat-form-field-infix ng-tns-c111-6">
                                                        <input matinput="" autocomplete="off" placeholder="Enter your password" formcontrolname="password" ptooltip="Your password must be at least 8 characters long, contain at least one number and have a mixture of uppercase, lowercase, special characters." required="" class="mat-input-element mat-form-field-autofill-control p-element ng-tns-c111-6 cdk-text-field-autofill-monitored cdk-text-field-autofilled valid ng-dirty ng-valid ng-touched" type="password" id="mat-input-3" data-placeholder="Enter your password" aria-required="true" aria-invalid="false">
                                                        <span class="mat-form-field-label-wrapper ng-tns-c111-6">
                                                            <label class="mat-form-field-label ng-tns-c111-6 ng-star-inserted" id="mat-form-field-label-7" for="mat-input-3" aria-owns="mat-input-3">

                                                                <mat-label class="ng-tns-c111-6 ng-star-inserted">Password</mat-label>
                                                                <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c111-6 ng-star-inserted"> *</span>
                                                            </label>

                                                        </span>
                                                    </div>
                                                    <div class="mat-form-field-suffix ng-tns-c111-6 ng-star-inserted">

                                                        <mat-icon id="visiblepass" role="img" matsuffix="" class="mat-icon notranslate cursor-pointer eye-icon material-icons mat-icon-no-color ng-tns-c111-6 ng-star-inserted" aria-hidden="true" data-mat-icon-type="font">visibility_off</mat-icon>

                                                        <mat-icon id="invisiblepass" role="img" matsuffix="" class="mat-icon notranslate cursor-pointer eye-icon material-icons mat-icon-no-color ng-tns-c111-6 ng-star-inserted" aria-hidden="true" data-mat-icon-type="font">visibility_on</mat-icon>

                                                    </div>

                                                </div>
                                                <div class="mat-form-field-underline ng-tns-c111-6 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c111-6"></span></div>

                                                <div class="mat-form-field-subscript-wrapper ng-tns-c111-6">

                                                    <div class="mat-form-field-hint-wrapper ng-tns-c111-6 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">

                                                        <div class="mat-form-field-hint-spacer ng-tns-c111-6"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="text-end rd-mb-2"><a onclick="forgotPassword()" class="bottom-text">Forgot Password?</a></div>

                                    <button id="loginButton" type="button" class="rd-btn-primary w-100">Login</button>

                                    <div class="separator my-4"><span class="sep-inner">Login with</span></div>
                                    <div class="oauthdiv">
                                        <div class="oauth-btn">
                                            <button onclick="otpbtn()" type="button" class="mat-focus-indicator text-center mat-menu-item" tabindex="0" role="menuitem" aria-disabled="false">
                                                <img src="~/images/lock-otp.svg" alt="" style="width: 32px;"> OTP
                                                <div matripple="" class="mat-ripple mat-menu-ripple"></div>

                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="login-form-withOTP" class="col-md-6 login-form">
                            <div>
                                <form  novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                    <div  class="text-center">
                                        <img src="~/images/efclogo.png" alt="EFCHR" class="logo">
                                    </div>
                                    <div  class="text-center rd-mt-2">
                                        <p  class="rd-text-primary login">Sign In - OTP</p>
                                    </div>
                                    <p  class="login-description fw-light rd-mt-1 text-center">Please enter your registered email address </p>
                                    <div  class="icon_wrap icon_wrap_in mt-4 mb-3 mt-md-4 mb-md-3">
                                        <div  class="icon_box">
                                            <mat-form-field  class="mat-form-field example-full-width ng-tns-c111-7 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label ng-untouched ng-pristine ng-invalid ng-star-inserted">
                                                <div class="mat-form-field-wrapper ng-tns-c111-7">
                                                    <div class="mat-form-field-flex ng-tns-c111-7">

                                                        <div class="mat-form-field-infix ng-tns-c111-7">
                                                            <input  matinput="" autocomplete="off" placeholder="Enter your email" formcontrolname="email" required="" class="mat-input-element mat-form-field-autofill-control ng-tns-c111-7 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored" id="mat-input-4" data-placeholder="Enter your email" aria-required="true">
                                                            <span class="mat-form-field-label-wrapper ng-tns-c111-7">
                                                                <label class="mat-form-field-label ng-tns-c111-7 ng-star-inserted" id="mat-form-field-label-9" for="mat-input-4" aria-owns="mat-input-4">

                                                                    <mat-label  class="ng-tns-c111-7 ng-star-inserted">Email Address</mat-label>

                                                                    <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c111-7 ng-star-inserted"> *</span>

                                                                </label>

                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="mat-form-field-underline ng-tns-c111-7 ng-star-inserted">
                                                        <span class="mat-form-field-ripple ng-tns-c111-7"></span>
                                                    </div>
                                                    <div class="mat-form-field-subscript-wrapper ng-tns-c111-7">


                                                        <div class="mat-form-field-hint-wrapper ng-tns-c111-7 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">


                                                            <div class="mat-form-field-hint-spacer ng-tns-c111-7"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div  class="text-center mt-4 mb-2 mt-md-4 mb-md-2">
                                        <a onclick="backToLogin()" class="bottom-text">Login With Password</a>
                                    </div>
                                    <button  type="submit" class="rd-btn-primary w-100">Send OTP</button>
                                </form>
                            </div>
                        </div>

                        <div id="forgot-pass-form" class="col-md-6 login-form ng-star-inserted">
                            <div>
                                <form novalidate="" class="ng-pristine ng-invalid ng-touched">
                                    <div class="text-center">
                                    <img src="~/images/efclogo.png" alt="EFCHR" class="logo"></div>
                                    <div class="text-center rd-mt-2">
                                        <p class="rd-text-primary login">Reset Password</p>
                                    </div>
                                    <p class="login-description fw-light rd-mt-1 text-center">Please enter your registered email address </p>

                                    <div class="icon_wrap icon_wrap_in mt-4 mb-3 mt-md-4 mb-md-3">
                                        <mat-form-field class="mat-form-field example-full-width my-1 ng-tns-c111-17 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label ng-pristine ng-invalid ng-star-inserted mat-form-field-invalid ng-touched">
                                            <div class="mat-form-field-wrapper ng-tns-c111-17">
                                                <div class="mat-form-field-flex ng-tns-c111-17">

                                                    <div class="mat-form-field-infix ng-tns-c111-17">
                                                        <input matinput="" autocomplete="off" name="email" type="text" placeholder="Enter your email" formcontrolname="email" required="" class="mat-input-element mat-form-field-autofill-control ng-tns-c111-17 ng-pristine ng-invalid cdk-text-field-autofill-monitored invalid ng-touched" id="mat-input-14" data-placeholder="Enter your email" aria-required="true">
                                                        <span class="mat-form-field-label-wrapper ng-tns-c111-17">
                                                            <label class="mat-form-field-label ng-tns-c111-17 ng-star-inserted" id="mat-form-field-label-29" for="mat-input-14" aria-owns="mat-input-14">

                                                                <mat-label class="ng-tns-c111-17 ng-star-inserted">Email Address</mat-label>
                                                                <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c111-17 ng-star-inserted"> *</span>
                                                            </label>

                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="mat-form-field-underline ng-tns-c111-17 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c111-17"></span></div>

                                                <div class="mat-form-field-subscript-wrapper ng-tns-c111-17">

                                                    <div class="mat-form-field-hint-wrapper ng-tns-c111-17 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">

                                                        <div class="mat-form-field-hint-spacer ng-tns-c111-17"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="text-center mt-4 mb-2 mt-md-4 mb-md-2"><a onclick="backToLogin()" class="bottom-text">Back To Login</a></div>
                                    <button type="submit" class="rd-btn-primary w-100">Send OTP</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

 <script>
    $("#loginButton").click(function () {
        window.location.href = "dashboard";
    });
</script>