<div class="navbar page-header navbar-light fixed-top rd-shadow-300" dir="ltr">
    <div class="top-nav-left">
        <a routerlink="" class="logo" href="#/">
            <span class="logo">
                <img src="~/images/EFC_O_new.png" alt="" class="p-1 my-logo rd-ms-1 rd-me-1 ng-star-inserted">
            </span>
        </a>
    </div>
    <div class="d-flex align-items-center">
        <div class="top-nav-right d-flex align-items-center new-svg-flex">
            @* <img aria-haspopup="true" tooltipposition="bottom" src="../../../assets/images/mat-svg/global-new.svg" alt="" class="p-element mat-menu-trigger">
            <mat-menu class="ng-tns-c133-9 ng-star-inserted">
                
            </mat-menu>
            <img routerlink="/permissions" tooltipposition="bottom" src="../../../assets/images/mat-svg/setting-new.svg" alt="" class="p-element top-nav-icon global-settings ng-star-inserted" tabindex="0"><img ptooltip="Bookmarks" tooltipposition="bottom" src="../../../assets/images/mat-svg/bookmark-new.svg" alt="" class="p-element top-nav-icon ng-star-inserted">
            <div class="notif-wrap ng-star-inserted">
                <img ptooltip="Notification" tooltipposition="bottom" src="../../../assets/images/mat-svg/Bell-new.svg" alt="" class="p-element top-nav-icon">
            </div> *@
            
            <div aria-haspopup="true" class="mat-menu-trigger profile-data">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="~/images/emptyProfile.jpg" alt="Profile" class="rounded-circle rd-profile-image ng-star-inserted">
                    </div>
                    <div class="m-4px username">
                        <div class="user2">
                            <p class="userName">HR DBMR, </p>
                        </div>
                        <p class="userName">Admin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>