<ul class="topnav">
    <li class="nav-active-top" data-target="summary">Dashboard</li>
    <li data-target="employees">Employees</li>
    <li data-target="org-structure">Organization Structure</li>
    <li data-target="onboarding">Onboarding</li>
    <li data-target="exit">Exit</li>
    <li data-target="help-desk">Help Desk</li>
    <li data-target="documents">Documents</li>
    <li data-target="announcements">Announcements</li>
    <li data-target="assets">Assets</li>
    <li data-target="survey">Employee Pulse Survey</li>
    <li data-target="settings">Settings</li>
</ul>