
<link href="~/css/tabs.css" rel="stylesheet" media="all" onload="this.media='all'" />
<link href="~/css/organization.css" rel="stylesheet" media="all" onload="this.media='all'" />
<ul class="topnav">
    <li class="nav-active-top"><a href="/organization/org_dashboard/org_summary" data-target="summary">Dashboard</a></li>
    <li><a href="/organization/org_employees/employee_view" data-target="employees">Employees</a></li>
    <li><a href="/organization/org_structure/legal_entities" data-target="org-structure">Organization Structure</a></li>
    <li><a href="/organization/onboarding/candidate_view" data-target="onboarding">Onboarding</a></li>
    <li><a href="/organization/org_exit/notice_period" data-target="exit">Exit</a></li>
    <li><a href="/organization/help_desk/help_summary" data-target="help-desk">Help Desk</a></li>
    <li><a href="/organization/org_documents/letters" data-target="documents">Documents</a></li>
    <li><a href="/organization/announcements/announcementslist" data-target="announcements">Announcements</a></li>
    <li><a href="/organization/assets" data-target="assets">Assets</a></li>
    <li><a href="/organization/survey" data-target="survey">Employee Pulse Survey</a></li>
    <li><a href="/organization/settings" data-target="settings">Settings</a></li>
</ul>