
<ul class="topnav">
    <li class="nav-active-top"><a href="/self_service/my_profile/basic" data-target="my-profile">My Profile</a></li>
    <li><a href="/self_service/attendance/summary" data-target="attendance">Attendance</a></li>
    <li><a href="/self_service/performance/kra" data-target="performance">Performance</a></li>
    <li><a href="/self_service/probation/probation_feedback" data-target="probation">Probation</a></li>
    <li><a href="/self_service/finance/my_salary" data-target="my-finance">My Finances</a></li>
    <li><a href="/self_service/assets/my_assets" data-target="asset">Asset</a></li>
    <li><a href="/self_service/exit/history" data-target="resignation">Resignation</a></li>
    <li><a href="/self_service/tasks/my_tasks" data-target="tasks">Tasks</a></li>
    <li><a href="/self_service/help_requests/tickets" data-target="help-desk">Help Desk</a></li>
    <li><a href="/self_service/myforms" data-target="my-forms">My Forms</a></li>
    <li><a href="/self_service/my_letters" data-target="my-letters">My Letters</a></li>
    <li><a href="/self_service/survey" data-target="my-survey">My Survey</a></li>
</ul>