@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="app-container" dir="ltr">
    <div class="container-fluid px-0 main-content-page h-100">
        <partial name="Organization_Tabs" />
        <div class="aos-init aos-animate">
            <div class="child-content nav-active-top" id="org-structure">
                <ul class="topnav-child-1">
                    <li><a href="/organization/org_exit/notice_period"> Notice Period</a> </li>
                    <li><a href="/organization/org_exit/direct_exit_employee"> Exit Process Employees</a> </li>
                    <li class="nav-active-top"><a href="/organization/org_exit/exit_reason"> Exit Reason</a> </li>
                </ul>
                <div class="container-fluid p-3">
                    <div class="grand-child nav-active-top">
                        <div id="NoticePeriodDetailPage" class="ng-star-inserted">
                            <div class="page-title-h">
                                <div class="d-flex justify-content-start align-items-center">
                                    <mat-icon role="img" class="mat-icon notranslate text-muted material-icons mat-icon-no-color" style="cursor: pointer;">chevron_left </mat-icon>
                                    <h4 class="card-title m-0 card-heading">Exit Reason</h4>
                                </div>
                            </div>
                            <mat-card class="mat-card mat-focus-indicator b-shadow-none border-0">
                                <div class="container-fluid py-0">
                                    <div class="row align-items-end">
                                        <div class="col-md-2 rd-form-select my-1">
                                            <label class="rd-form-select-label mb-1">Type</label>
                                            <select class="form-select">
                                                <option selected>Select Type</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10 d-flex justify-content-end tabcol mb-1">
                                            <div style="position: relative;">
                                                <input type="text" class="grid-search-box" placeholder="Search" fdprocessedid="xdmbl">
                                                <mat-icon role="img" class="mat-icon notranslate search-icon material-icons mat-icon-no-color">search</mat-icon>
                                            </div>
                                            <button type="button" class="mat-ripple p-element rd-round-button ng-star-inserted" tabindex="0"><img src="/images/upload_file.svg"></button>
                                            <button data-bs-toggle="modal" data-bs-target="#addEditExitReasonModal" type="button" class="mat-ripple p-element rd-round-button ng-star-inserted" title="Add"><img src="/images/add.svg" alt="Add"></button>
                                            <button type="button" ptooltip="Download" tooltipposition="top" class="mat-ripple p-element mat-menu-trigger rd-round-button"><img src="/images/download.svg"></button>
                                        </div>
                                    </div>
                                    <div class="col-12 px-0">
                                        <div class="ng-star-inserted">
                                            <div class="example-table-container rd-table-wrapper">
                                                <div class="table-responsive">
                                                    <table class="mat-table cdk-table">
                                                        <thead role="rowgroup">
                                                            <tr class="mat-header-row cdk-header-row ng-star-inserted">
                                                                <th class="mat-header-cell cdk-header-cell">Reason</th>
                                                                <th class="mat-header-cell cdk-header-cell">Type</th>
                                                                <th class="mat-header-cell cdk-header-cell text-center">Added By</th>
                                                                <th class="mat-header-cell cdk-header-cell text-center">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="rowgroup">
                                                            <tr class="mat-row cdk-row ng-star-inserted">
                                                                <td class="mat-cell cdk-cell">Family Emergency</td>
                                                                <td class="mat-cell cdk-cell">Voluntary Action</td>
                                                                <td class="mat-cell cdk-cel text-center">HR DBMR</td>
                                                                <td class="mat-cell cdk-cell text-center">
                                                                    <img src="/images/edit1.svg" alt="Edit" title="Edit" width="16" class="img-fluid me-2" data-bs-toggle="modal" data-bs-target="#addEditExitReasonModal">
                                                                    <img src="/images/trash.svg" alt="Delete" title="Delete" width="16" class="img-fluid">
                                                                </td>
                                                            </tr>
                                                            <tr class="mat-row cdk-row ng-star-inserted">
                                                                <td class="mat-cell cdk-cell">Growth</td>
                                                                <td class="mat-cell cdk-cell">Voluntary Action</td>
                                                                <td class="mat-cell cdk-cel text-center">HR DBMR</td>
                                                                <td class="mat-cell cdk-cell text-center">
                                                                    <img src="/images/edit1.svg" alt="Edit" title="Edit" width="16" class="img-fluid me-2" data-bs-toggle="modal" data-bs-target="#addEditExitReasonModal">
                                                                    <img src="/images/trash.svg" alt="Delete" title="Delete" width="16" class="img-fluid">
                                                                </td>
                                                            </tr>
                                                            @* <tr class="mat-row mat-no-data-row ng-star-inserted" role="row">
                                                            <td colspan="9999" class="text-muted no-results ng-star-inserted"><img src="/images/No result found.svg" class="no-result-found"></td>
                                                            </tr> *@
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mat-paginator">
                                        <div class="mat-paginator-outer-container">
                                            <div class="mat-paginator-container">
                                                <div class="mat-paginator-page-size ng-star-inserted">
                                                    <div class="mat-paginator-page-size-label"> Items per page: </div>
                                                    <mat-form-field class="mat-form-field mat-paginator-page-size-select mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-hide-placeholder ng-star-inserted">
                                                        <div class="mat-form-field-wrapper">
                                                            <div class="mat-form-field-flex">

                                                                <div class="mat-form-field-infix">
                                                                    <mat-select role="combobox" aria-autocomplete="none" aria-haspopup="true" class="mat-select ng-star-inserted" id="mat-select-38" tabindex="0" aria-expanded="false" aria-label="Items per page:" aria-required="false" aria-disabled="false" aria-invalid="false">
                                                                        <div class="mat-select-trigger">
                                                                            <div class="mat-select-value" id="mat-select-value-39">

                                                                                <span class="mat-select-value-text ng-star-inserted">
                                                                                    <span class="mat-select-min-line ng-star-inserted">12</span>
                                                                                </span>

                                                                            </div>
                                                                            <div class="mat-select-arrow-wrapper">
                                                                                <div class="mat-select-arrow"></div>
                                                                            </div>
                                                                        </div>

                                                                    </mat-select>
                                                                    <span class="mat-form-field-label-wrapper">

                                                                    </span>
                                                                </div>

                                                            </div>
                                                            <div class="mat-form-field-underline ng-star-inserted"><span class="mat-form-field-ripple"></span></div>

                                                            <div class="mat-form-field-subscript-wrapper">

                                                                <div class="mat-form-field-hint-wrapper ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">

                                                                    <div class="mat-form-field-hint-spacer"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </mat-form-field>

                                                </div>

                                                <div class="mat-paginator-range-actions">
                                                    <div class="mat-paginator-range-label"> 1 - 1 of 1 </div>

                                                    <button type="button" class="mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-previous mat-icon-button mat-button-base mat-button-disabled" aria-label="Previous page" disabled="true">
                                                        <span class="mat-button-wrapper">
                                                            <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
                                                                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                                            </svg>
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span>
                                                    </button>

                                                    <button type="button" class="mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-next mat-icon-button mat-button-base mat-button-disabled" aria-label="Next page" disabled="true">
                                                        <span class="mat-button-wrapper">
                                                            <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
                                                                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                                            </svg>
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEditExitReasonModal">
    <div class="modal-dialog efcModal">
        <div class="modal-content">
            <div class="rd-dialog-heading p-0">
                Add Exit Reason
            </div>
            <div class="row">
                <div class="col-md-6 tabcol mb-1">
                    <label class="rd-form-select-label mb-1">Name *</label>
                    <input type="text" class="form-control" placeholder="Enter Name" />
                </div>
                <div class="col-md-6 tabcol mb-1">
                    <label class="rd-form-select-label mb-1">Type *</label>
                    <select class="form-select">
                        <option selected>Select Type</option>
                        <option value="1">Admin Department</option>
                        <option value="2">HR Department</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

