.rd-shadow-100 {
    box-shadow: 0 4px 4px -2px #18274b14,0 2px 4px -2px #18274b1f
}

.rd-shadow-200 {
    box-shadow: 0 8px 8px -4px #18274b14,0 4px 6px -4px #18274b1f
}

.rd-shadow-300 {
    box-shadow: 0 8px 16px -6px #18274b14,0 6px 8px -6px #18274b1f
}

.rd-shadow-400 {
    box-shadow: 0 8px 24px -4px #18274b14,0 6px 12px -6px #18274b1f
}

.rd-shadow-500, .rd-shadow-600 {
    box-shadow: 0 10px 32px -4px #18274b1a,0 6px 14px -6px #18274b1f
}

.rd-shadow-700 {
    box-shadow: 0 14px 64px -4px #18274b1f,0 8px 22px -6px #18274b1f
}

.rd-shadow-800 {
    box-shadow: 0 18px 88px -4px #18274b24,0 8px 28px -6px #18274b1f
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.topnav {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea
}

    .topnav li {
        position: relative;
        font-size: 11px;
        cursor: pointer;
        font-weight: 500;
        color: #5a5959;
        text-decoration: none;
        text-transform: uppercase
    }
        .topnav li a {
            display: block;
            padding: 12px;
            color: #5a5959;
        }

        .topnav li a:hover {
            color: #222
        }

        .topnav li:after {
            position: absolute;
            top: 0;
            left: 6%;
            color: #325080;
            content: "";
            border-right: 7px solid transparent;
            border-top: 7px solid;
            border-left: 7px solid transparent;
            opacity: 0;
            transition-duration: .3s
        }

    .topnav .nav-active-top:after {
        left: 40%;
        opacity: 1
    }

.topnav-child-1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.topnav-child-1 {
    background-color: #fff;
    box-shadow: 0 4px 4px -2px #18274b14,0 2px 4px -2px #18274b1f
}

    .topnav-child-1 li {
        font-size: 11px;
        cursor: pointer;
        font-weight: 400;
        color: #5a5959;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: .7px
    }
    .topnav-child-1 li a {
        display:block;
        padding: 12px;
        color: #5a5959;
        position:relative;
    }
    .topnav-child-1 li.nav-active-top a {
    color: #173d7a;
}
        .topnav-child-1 li a:hover {
            color: #222
        }

.nav-active-top {
    color: #222 !important;
    font-weight: 600 !important
}

.nav-active-top-tab {
    color: #fff !important;
    background-color: #3a4963 !important;
    font-weight: 600 !important
}

.topnav-child-1 .nav-active-top a:after {
    opacity: 1
}

.topnav-child-1 li a:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 2px;
    background: #325080;
    color: #325080;
    content: "";
    border-left: 7px solid transparent;
    opacity: 0;
    transition-duration: .3s
}
.child-content {
    display: none;
}

.child-content.nav-active-top {
    display: block;
}