@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="app-container" dir="ltr">
    <div class="container-fluid px-0 main-content-page h-100">
        <partial name="self_service_tabs" />
        <div class="aos-init aos-animate">
            <div class="child-content nav-active-top" id="summary">
                <ul class="topnav-child-1">
                    <li class="nav-active-top"><a href="/self_service/attendance/summary"> Summary</a> </li>
                    <li><a href="/self_service/attendance/daily_attendance">Daily Attendance</a> </li>
                    <li><a href="/self_service/attendance/holidays">Holiday</a> </li>
                    <li><a href="/self_service/attendance/leaves">Leave</a></li>
                    <li><a href="/self_service/attendance/missed_punch">Missed Punch</a></li>
                    <li><a href="/self_service/attendance/comp_offs">Comp-Off</a></li>
                    <li><a href="/self_service/attendance/overtime">Overtime</a></li>
                    <li><a href="/self_service/attendance/wfh">WFH</a></li>
                    <li><a href="/self_service/attendance/optional_holidays">Optional Holiday</a></li>
                </ul>
                <div class="container-fluid p-3">
                    <div class="grand-child nav-active-top">
                        <div class="ng-star-inserted">
                            <mat-card class="mat-card mat-focus-indicator b-shadow-none border-0">
                                <div class="container-fluid">
                                    <div class="row mb-4">
                                        <div class="col-md-9"></div>
                                        <div class="col-md-3 mb-4 mt-2 justify-content-end">
                                            <select class="form-select" id="leaveYearSelect">
                                                <option>2025</option>
                                                <option>2024</option>
                                                <option>2023</option>
                                                <option>2022</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 ps-0 basic-inf">
                                            <div class="basic-con">
                                                <div class="personal-head row">
                                                    <div class="col-md-9">
                                                        <h2 class="rd-dialog-heading">Attendance Percentage</h2>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-select" id="attendanceMonthSelect">
                                                            <option selected>Jan</option>
                                                            <option>Feb</option>
                                                            <option>Mar</option>
                                                            <option>Apr</option>
                                                            <option>May</option>
                                                            <option>Jun</option>
                                                            <option>Jul</option>
                                                            <option>Aug</option>
                                                            <option>Sep</option>
                                                            <option>Oct</option>
                                                            <option>Nov</option>
                                                            <option>Dec</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="h-100">
                                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                                        <div id="chartTotalAssets"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ps-0 basic-inf">
                                            <div class="basic-con">
                                                <div class="personal-head">
                                                    <h2 class="rd-dialog-heading">Leave Approval</h2>
                                                </div>
                                                <div class="h-100">
                                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                                        <div id="chartTotalFaultyAssets"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-head">
                                        <h2>Leave Balance</h2>
                                    </div>
                                    <div class="col-12 px-0">
                                        <div class="ng-star-inserted">
                                            <div class="example-table-container rd-table-wrapper">
                                                <table class="mat-table cdk-table">
                                                    <thead role="rowgroup">
                                                        <tr class="mat-header-row cdk-header-row ng-star-inserted">
                                                            <th class="mat-header-cell cdk-header-cell"> Leave Type </th>
                                                            <th class="mat-header-cell cdk-header-cell">Granted </th>
                                                            <th class="mat-header-cell cdk-header-cell">Taken </th>
                                                            <th class="mat-header-cell cdk-header-cell">Balance</th>

                                                        </tr>

                                                    </thead>
                                                    <tbody role="rowgroup">
                                                        <tr class="mat-row cdk-row ng-star-inserted">
                                                            <td class="mat-cell cdk-cell">Casual Leave	</td>
                                                            <td class="mat-cell cdk-cell">-</td>
                                                            <td class="mat-cell cdk-cell">-</td>
                                                            <td class="mat-cell cdk-cell">-</td>
                                                        </tr>
                                                        <tr class="mat-row cdk-row ng-star-inserted">
                                                            <td class="mat-cell cdk-cell">Sick Leave	</td>
                                                            <td class="mat-cell cdk-cell">-</td>
                                                            <td class="mat-cell cdk-cell">-</td>
                                                            <td class="mat-cell cdk-cell">-</td>
                                                        </tr>


                                                    </tbody>
                                                    <tfoot role="rowgroup" class="mat-table-sticky" style="display: none; bottom: 0px; z-index: 10;">
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                  
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/apexcharts@3.22.1/dist/apexcharts.min.js"></script>


<script>
    var chart;

    function loadAttendanceChart(monthNumber) {
        $.ajax({
            url: '/Attendance/GetMonthlyAttendanceData?month=' + monthNumber,
            type: 'GET',
            success: function (data) {
                const seriesData = [
                    data.present || 0,
                    data.partialpresent || 0,
                    data.absent || 0,
                    data.leave || 0
                ];

                chart.updateSeries(seriesData);
            },
            error: function () {
                alert('Failed to load attendance data.');
            }
        });
    }

    $(document).ready(function () {

        var options = {
            series: [0, 0, 0, 0],
            chart: {
                type: 'donut',
                width: 400
            },
            labels: ['Present', 'Partially Present', 'Absent', 'Leave'],
            colors: ['#28a745', '#FFA500', '#FF0000', '#007BFF'],
            legend: {
                show: true,
                position: 'right',
                markers: {
                    shape: 'square'
                }
            },
            plotOptions: {
                pie: {
                    donut: {
                        size: '50%'
                    }
                }
            },
            dataLabels: {
                enabled: false
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    }
                }
            }]
        };

        chart = new ApexCharts(document.querySelector("#chartTotalAssets"), options);
        chart.render();

        // Load current month attendance on page load
        const today = new Date();
        const currentMonth = today.getMonth() + 1;
        $('#attendanceMonthSelect').val(today.toLocaleString('default', { month: 'short' }));
        loadAttendanceChart(currentMonth);

        // On dropdown change
        $('#attendanceMonthSelect').on('change', function () {
            const selectedMonthIndex = this.selectedIndex + 1; // 1-based month
            loadAttendanceChart(selectedMonthIndex);
        });
    });
</script>


<script>

       $(document).ready(function () {
        $('#leaveYearSelect').on('change', function () {
            var selectedYear = $(this).val();

            $.ajax({
                url: '/Attendance/GetLeaveStatusCounts',
                type: 'GET',
                data: { year: selectedYear },
                success: function (data) {
                    var optionsFaulty = {
                        series: [data.approved, data.pending, data.rejected],
                        chart: {
                            type: 'donut',
                            width: 400
                        },
                        labels: ['Approved', 'Pending', 'Rejected'],
                        colors: ['#28a745', '#007bff', '#FF0000'],
                        legend: {
                            show: true,
                            position: 'right',
                            markers: {
                                shape: 'square'
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        plotOptions: {
                            pie: {
                                donut: {
                                    size: '50%'
                                }
                            }
                        },
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                }
                            }
                        }]
                    };

                    // Destroy previous chart instance if needed
                    if (window.leaveChart) {
                        window.leaveChart.destroy();
                    }

                    // Store chart instance globally so it can be destroyed next time
                    window.leaveChart = new ApexCharts(document.querySelector("#chartTotalFaultyAssets"), optionsFaulty);
                    window.leaveChart.render();
                }
            });
        });

        // 👇 Trigger the change event on page load
        $('#leaveYearSelect').trigger('change');
    });

</script>

<script>

        $(document).ready(function () {
        $.ajax({
            url: '/Attendance/GetLeaveSummary',
            type: 'GET',
            success: function (data) {
                const tbody = $('.mat-table tbody');
                tbody.empty();

                if (data.length === 0) {
                    tbody.append('<tr><td colspan="4">No leave data found.</td></tr>');
                }

                data.forEach(item => {
                    const row = `
                        <tr class="mat-row cdk-row">
                            <td class="mat-cell cdk-cell">${item.leaveType}</td>
                            <td class="mat-cell cdk-cell">${item.granted}</td>
                            <td class="mat-cell cdk-cell">${item.taken}</td>
                            <td class="mat-cell cdk-cell">${item.balance}</td>
                        </tr>`;
                    tbody.append(row);
                });
            },
            error: function () {
                $('.mat-table tbody').html('<tr><td colspan="4">Error loading leave data.</td></tr>');
            }
        });
    });


</script>