@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="app-container" dir="ltr">
    <div class="container-fluid px-0 main-content-page h-100">
        <partial name="Organization_Tabs" />
        <div class="aos-init aos-animate">
            <div class="child-content nav-active-top" id="summary">
                <ul class="topnav-child-1">
                    <li><a href="/organization/assets/asset_dashboard"> Summary</a> </li>
                    <li><a href="/organization/assets/asset_store"> Asset Categories</a> </li>
                    <li class="nav-active-top"><a href="/organization/assets/asset_available"> Asset availability</a> </li>
                    <li><a href="/organization/assets/asset_repair"> Repair Team</a></li>
                    <li><a href="/organization/assets/purchase_order"> Purchase Order</a></li>
                </ul>
                <div class="container-fluid p-3">
                    <div class="grand-child nav-active-top">
                        <div id="NoticePeriodDetailPage" class="ng-star-inserted">
                            <div class="page-title-h">
                                <div class="d-flex justify-content-start align-items-center">
                                    <mat-icon role="img" class="mat-icon notranslate text-muted material-icons mat-icon-no-color" style="cursor: pointer;">chevron_left </mat-icon>
                                    <h4 class="card-title m-0 card-heading">Asset Available Records</h4>
                                </div>
                            </div>
                            <mat-card class="mat-card mat-focus-indicator b-shadow-none border-0">
                                <div class="container-fluid py-0">
                                    <div class="row align-items-end  justify-content-between">
                                        <div class="col-md-9 tab-col-width2">
                                            <div class="row align-items-end">
                                                <div class="col-md-3 tab-col-width2">
                                                    <label class="rd-form-select-label mb-1">Asset Availability</label>
                                                    <select class="form-select">
                                                        <option selected>All</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 tab-col-width2">
                                                    <label class="rd-form-select-label mb-1">Is Assigned</label>
                                                    <select class="form-select">
                                                        <option selected>All</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 tab-col-width2">
                                                    <label class="rd-form-select-label mb-1">Employee</label>
                                                    <select class="form-select">
                                                        <option selected>Select Employee</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 d-flex align-items-end tab-col-width2"><button type="button" class="mx-2 rd-btn-tertairy-sm rd-text-secondary-1" fdprocessedid="guvp67">Reset</button><button type="button" class="mx-2 rd-btn-primary-sm rd-text-primary-1" fdprocessedid="y4qkfa">Submit</button></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end align-items-center tabcol mb-1">
                                            <div style="position: relative;">
                                                <input type="text" class="grid-search-box" placeholder="Search" fdprocessedid="d4j0ak">
                                                <mat-icon role="img" class="mat-icon notranslate search-icon material-icons mat-icon-no-color">search</mat-icon>
                                            </div>
                                            <button type="button" ptooltip="Download" tooltipposition="top" class="mat-ripple p-element mat-menu-trigger rd-round-button" fdprocessedid="i2w73"><img src="/images/download.svg"></button>
                                        </div>
                                    </div>
                                    <div class="col-12 px-0">
                                        <div class="ng-star-inserted">
                                            <div class="example-table-container rd-table-wrapper">
                                                <table class="mat-table cdk-table">
                                                    <thead role="rowgroup">
                                                        <tr class="mat-header-row cdk-header-row ng-star-inserted">
                                                            <th class="mat-header-cell cdk-header-cell">Category</th>
                                                            <th class="mat-header-cell cdk-header-cell">Asset Name</th>
                                                            <th class="mat-header-cell cdk-header-cell">Asset Item Name</th>
                                                            <th class="mat-header-cell cdk-header-cell">Code</th>
                                                            <th class="mat-header-cell cdk-header-cell text-center">Available For Use</th>
                                                            <th class="mat-header-cell cdk-header-cell text-center">Assigned To	</th>
                                                            <th class="mat-header-cell cdk-header-cell text-center">Defect</th>
                                                            <th class="mat-header-cell cdk-header-cell text-center">Repaired</th>
                                                            <th class="mat-header-cell cdk-header-cell text-center">Warranty Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="rowgroup">
                                                        <tr class="mat-row cdk-row ng-star-inserted">
                                                            <td class="mat-cell cdk-cell">Software</td>
                                                            <td class="mat-cell cdk-cell">Design Software</td>
                                                            <td class="mat-cell cdk-cell">AutoCAD</td>
                                                            <td class="mat-cell cdk-cell">AD987</td>
                                                            <td class="mat-cell cdk-cell text-center"><img src="/images/circle-check-green.svg" alt="Check" width="16" class="img-fluid"></td>
                                                            <td class="mat-cell cdk-cell text-center">HR DBMR</td>
                                                            <td class="mat-cell cdk-cell text-center"><img src="/images/circle-xmark-red.svg" alt="Check" width="16" class="img-fluid"></td>
                                                            <td class="mat-cell cdk-cell text-center"><img src="/images/circle-xmark-red.svg" alt="Check" width="16" class="img-fluid"></td>
                                                            <td class="mat-cell cdk-cell text-center"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mat-paginator">
                                        <div class="mat-paginator-outer-container">
                                            <div class="mat-paginator-container">
                                                <div class="mat-paginator-page-size ng-star-inserted">
                                                    <div class="mat-paginator-page-size-label"> Items per page: </div>
                                                    <mat-form-field class="mat-form-field mat-paginator-page-size-select mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-hide-placeholder ng-star-inserted">
                                                        <div class="mat-form-field-wrapper">
                                                            <div class="mat-form-field-flex">

                                                                <div class="mat-form-field-infix">
                                                                    <mat-select role="combobox" aria-autocomplete="none" aria-haspopup="true" class="mat-select ng-star-inserted" id="mat-select-38" tabindex="0" aria-expanded="false" aria-label="Items per page:" aria-required="false" aria-disabled="false" aria-invalid="false">
                                                                        <div class="mat-select-trigger">
                                                                            <div class="mat-select-value" id="mat-select-value-39">

                                                                                <span class="mat-select-value-text ng-star-inserted">
                                                                                    <span class="mat-select-min-line ng-star-inserted">12</span>
                                                                                </span>

                                                                            </div>
                                                                            <div class="mat-select-arrow-wrapper">
                                                                                <div class="mat-select-arrow"></div>
                                                                            </div>
                                                                        </div>

                                                                    </mat-select>
                                                                    <span class="mat-form-field-label-wrapper">

                                                                    </span>
                                                                </div>

                                                            </div>
                                                            <div class="mat-form-field-underline ng-star-inserted"><span class="mat-form-field-ripple"></span></div>

                                                            <div class="mat-form-field-subscript-wrapper">

                                                                <div class="mat-form-field-hint-wrapper ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">

                                                                    <div class="mat-form-field-hint-spacer"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </mat-form-field>

                                                </div>

                                                <div class="mat-paginator-range-actions">
                                                    <div class="mat-paginator-range-label"> 1 - 1 of 1 </div>

                                                    <button type="button" class="mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-previous mat-icon-button mat-button-base mat-button-disabled" aria-label="Previous page" disabled="true">
                                                        <span class="mat-button-wrapper">
                                                            <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
                                                                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                                            </svg>
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span>
                                                    </button>

                                                    <button type="button" class="mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-next mat-icon-button mat-button-base mat-button-disabled" aria-label="Next page" disabled="true">
                                                        <span class="mat-button-wrapper">
                                                            <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
                                                                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                                            </svg>
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>