@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="app-container" dir="ltr">
    <div class="container-fluid px-0 main-content-page h-100">
        <partial name="self_service_tabs" />
        <div class="aos-init aos-animate">
            <div class="child-content nav-active-top">
                <ul class="topnav-child-1">
                    <li><a href="/self_service/finance/my_salary">My Salary</a></li>
                    <li><a href="/self_service/finance/my_payslip">Payslips</a></li>
                    <li class="nav-active-top"><a href="/self_service/finance/reimbursement">Reimbursements</a></li>
                    <li><a href="/self_service/finance/employee_loan">Loan</a></li>
                    <li><a href="/self_service/finance/employee_cheques">Cheques</a></li>
                    <li><a href="/self_service/finance/usa_tax_forms">USA Tax Forms</a></li>
                    <li><a href="/self_service/finance/investment_proof">Proof Of Investments</a></li>
                    <li><a href="/self_service/finance/salary_advance">Salary Advance</a></li>
                </ul>
                <div class="container-fluid p-3">
                    <div class="grand-child nav-active-top">
                        <div class="ng-star-inserted">
                            <div class="page-title-h">
                                <div class="d-flex justify-content-start align-items-center">
                                    <mat-icon role="img" class="mat-icon notranslate text-muted material-icons mat-icon-no-color" style="cursor: pointer;">chevron_left </mat-icon>
                                    <h4 class="card-title m-0 card-heading">Salary Structures</h4>
                                </div>
                            </div>
                            <mat-card class="mat-card mat-focus-indicator b-shadow-none border-0">
                                <div class="container-fluid py-0">
                                    <div class="row align-items-end  justify-content-between">
                                        <div class="col-md-9 tab-col-width2">
                                            <div class="row align-items-end">
                                                <div class="col-md-3 tab-col-width2">
                                                    <label class="rd-form-select-label mb-1">Status</label>
                                                    <select class="form-select">
                                                        <option selected="">All</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 tab-col-width2">
                                                    <label class="rd-form-select-label mb-1">Reimbursements</label>
                                                    <select class="form-select">
                                                        <option selected="">Select Reimbursements</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                        <option value="">Select Status</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end align-items-center tabcol mb-1">
                                            <div style="position: relative;">
                                                <input type="text" class="grid-search-box" placeholder="Search" fdprocessedid="d4j0ak">
                                                <mat-icon role="img" class="mat-icon notranslate search-icon material-icons mat-icon-no-color">search</mat-icon>
                                            </div>
                                            <button data-bs-toggle="modal" data-bs-target="#addEditModal" title="Add" type="button" class="mat-ripple p-element rd-round-button ng-star-inserted"><img src="/images/add.svg"></button>
                                        </div>
                                    </div>
                                    <div class="col-12 px-0">
                                        <div class="ng-star-inserted">
                                            <div class="example-table-container rd-table-wrapper">
                                                <table class="mat-table cdk-table">
                                                    <thead role="rowgroup">
                                                        <tr class="mat-header-row cdk-header-row ng-star-inserted">
                                                            <th class="mat-header-cell cdk-header-cell"> Reimbursement Type</th>
                                                            <th class="mat-header-cell cdk-header-cell">Amount</th>
                                                            <th class="mat-header-cell cdk-header-cell">Requested On</th>
                                                            <th class="mat-header-cell cdk-header-cell"> Status </th>
                                                            <th class="mat-header-cell cdk-header-cell"> Approver </th>
                                                            <th class="mat-header-cell cdk-header-cell"> Actions </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="rowgroup">
                                                        <tr class="mat-row cdk-row ng-star-inserted">
                                                            <td class="mat-cell cdk-cell">Petrol Allowance</td>
                                                            <td class="mat-cell cdk-cell">INR 100.00t</td>
                                                            <td class="mat-cell cdk-cel">28-Aug-24 4:40:12 AM</td>
                                                            <td class="mat-cell cdk-cel"><span class="badge rounded-pill bg-warning">Pending</span></td>
                                                            <td class="mat-cell cdk-cel">-</td>
                                                            <td class="mat-cell cdk-cel"><button type="button" data-bs-toggle="modal" data-bs-target="#viewDetailsModal" class="btn btn-outline-secondary btn-sm">View Details</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mat-paginator">
                                        <div class="mat-paginator-outer-container">
                                            <div class="mat-paginator-container">
                                                <div class="mat-paginator-page-size ng-star-inserted">
                                                    <div class="mat-paginator-page-size-label"> Items per page: </div>
                                                    <mat-form-field class="mat-form-field mat-paginator-page-size-select mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-hide-placeholder ng-star-inserted">
                                                        <div class="mat-form-field-wrapper">
                                                            <div class="mat-form-field-flex">

                                                                <div class="mat-form-field-infix">
                                                                    <mat-select role="combobox" aria-autocomplete="none" aria-haspopup="true" class="mat-select ng-star-inserted" id="mat-select-38" tabindex="0" aria-expanded="false" aria-label="Items per page:" aria-required="false" aria-disabled="false" aria-invalid="false">
                                                                        <div class="mat-select-trigger">
                                                                            <div class="mat-select-value" id="mat-select-value-39">

                                                                                <span class="mat-select-value-text ng-star-inserted">
                                                                                    <span class="mat-select-min-line ng-star-inserted">12</span>
                                                                                </span>

                                                                            </div>
                                                                            <div class="mat-select-arrow-wrapper">
                                                                                <div class="mat-select-arrow"></div>
                                                                            </div>
                                                                        </div>

                                                                    </mat-select>
                                                                    <span class="mat-form-field-label-wrapper">

                                                                    </span>
                                                                </div>

                                                            </div>
                                                            <div class="mat-form-field-underline ng-star-inserted"><span class="mat-form-field-ripple"></span></div>

                                                            <div class="mat-form-field-subscript-wrapper">

                                                                <div class="mat-form-field-hint-wrapper ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">

                                                                    <div class="mat-form-field-hint-spacer"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </mat-form-field>

                                                </div>

                                                <div class="mat-paginator-range-actions">
                                                    <div class="mat-paginator-range-label"> 1 - 1 of 1 </div>

                                                    <button type="button" class="mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-previous mat-icon-button mat-button-base mat-button-disabled" aria-label="Previous page" disabled="true">
                                                        <span class="mat-button-wrapper">
                                                            <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
                                                                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                                            </svg>
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span>
                                                    </button>

                                                    <button type="button" class="mat-focus-indicator mat-tooltip-trigger mat-paginator-navigation-next mat-icon-button mat-button-base mat-button-disabled" aria-label="Next page" disabled="true">
                                                        <span class="mat-button-wrapper">
                                                            <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
                                                                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                                            </svg>
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span class="mat-button-focus-overlay"></span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addEditModal">
    <div class="modal-dialog efcModal efcMaxModal">
        <div class="modal-content">
            <div class="rd-dialog-heading p-0">
                Add Reimbursement Request
            </div>
            <div class="row">
                <div class="col-md-4 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Reimbursement Type *</label>
                    <select class="form-select">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-4 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Reimbursement Amount</label>
                    <input type="text" class="form-control" placeholder="Enter Amount" />
                </div>
                <div class="col-md-4 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Miscellaneous Amount</label>
                    <input type="text" class="form-control" placeholder="Enter Amount" />
                </div>
                <div class="col-md-4 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Date of Expense*</label>
                    <input type="date" class="form-control" placeholder="Enter Expense Date" />
                </div>
                <div class="col-md-4 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Paymant Method</label>
                    <select class="form-select">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-4 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Remarks*</label>
                    <input type="text" class="form-control" placeholder="Enter the Remarks" />
                </div>
                <div class="col-md-12 rd-form-select mb-2">
                    <label class="rd-form-select-label mb-1">Upload PNG, JPG, PDF, DOCX, XLSX etc...*</label>
                    <input type="file" class="form-control" />
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-primary" style="width:200px;">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewDetailsModal">
    <div class="modal-dialog efcModal efcMaxModal">
        <div class="modal-content">
            <div class="rd-dialog-heading p-0">
                Reimbursement Approval
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 basic-inf mb-3">
                    <div class="basic-con personal_box">
                        <div class="personal-body">
                            <div class="basic-detail">
                                <h5 class="text-capitalize">HR DBMR</h5>
                                <div class="personal-data mb-3">
                                    <h5 style="font-size:12px !important">EMP-20240425-001</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 basic-inf">
                                    <div class="personal-data">
                                        <h5>Reimbursement Name</h5>
                                        <p class="address"><span tooltipposition="top" class="p-element">Petrol Allowance</span></p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Leave Request Type</h5>
                                        <p>Half Day</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Reimbursement Amount</h5>
                                        <p>90</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Miscellaneous Amount</h5>
                                        <p>10</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Payment Method</h5>
                                        <p>CARD</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Remarks</h5>
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 basic-inf">
                                    <div class="personal-data">
                                        <h5>Amount</h5>
                                        <p>INR 100.00</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Date of Expense</h5>
                                        <p class="address"><span tooltipposition="top" class="p-element">26/08/2024</span></p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Acknowledged</h5>
                                        <p>No</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Attachment</h5>
                                        <p>-</p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Status</h5>
                                        <p><span class="badge rounded-pill bg-warning">Pending</span></p>
                                    </div>
                                    <div class="personal-data">
                                        <h5>Applied on</h5>
                                        <p>26/08/2024 04:40 AM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 basic-inf">
                    <div class="rd-dialog-heading p-0">
                        Reimbursement Details
                    </div>
                    <div class="basic-con con personal-body d-flex justify-content-between">
                        <div class="basic-detail">
                            <h5 class="text-capitalize">HR DBMR</h5>
                            <div class="personal-data mb-3">
                                <h5 style="font-size:12px !important">Level 1</h5>
                            </div>
                        </div>
                        <div class="personal-data">
                            <p><span class="badge rounded-pill bg-warning">Pending</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>